*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 115vh;
  background-color: #333087;
  background: url(img/stars.jpg);
  color: #ffffff;
}

.description {
  width: 100%;
  background-color: #333087;
  padding: 50px 10px;
}

.description img {
  padding: 0;
}

.line {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 345px;
  padding: 75px 40px;
  margin: 20px;
}

.titleName {
  width: 95%;
  height: 75%;
  margin: 20px;
  padding: 110px 60px;
}

.blanket1,
.blanket2 {
  position: absolute;
}

.blanket2 {
  width: 60%;
  top: 270px;
  right: 45px;
}

.blanket1 {
  width: 50%;
  z-index: 1;
  top: 400px;
  left: 84px;
}

.filler2,
.material2 {
  width: 30%;
  padding-bottom: 50px;
}

.icon {
  width: 30%;
}

.icon2 {
  width: 28%;
}

.descr {
  width: 1400px;
}

.withIcon {
  display: flex;
  align-items: center;
}

.cover,
.cotton {
  position: absolute;
}

.cover {
  top: 94rem;
  left: 73rem;
}

.cotton {
  top: 116rem;
  left: 74rem;
}
