*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 115vh;
  background-color: #333087;
  background: url(img/stars.jpg);
  color: #ffffff;
}

.main {
  width: 100%;
}

.comparison {
  background-color: #333087;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}

.description {
  width: 100%;
  background-color: #333087;
  padding: 50px 10px;
}

.description img {
  padding: 0;
}

.line {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 345px;
  padding: 75px 40px;
  margin: 20px;
}

.titleName {
  width: 95%;
  height: 75%;
  margin: 20px;
  padding: 110px 60px;
}

.blanket {
  position: absolute;
}

.two {
  width: 60%;
  top: 270px;
  right: 45px;
}

.blanket3 {
  width: 1450px;
}

.one {
  width: 50%;
  z-index: 1;
  top: 400px;
  left: 84px;
}

.filler2,
.material2 {
  width: 30%;
  padding-bottom: 50px;
}

.icon {
  width: 30%;
}

.icon2 {
  width: 28%;
}

.descr {
  width: 100%;
}

.withIcon {
  display: flex;
  align-items: center;
}

.cover,
.cotton {
  position: absolute;
}

.cover {
  top: 92rem;
  left: 69rem;
}

.cotton {
  top: 113rem;
  left: 69rem;
}

.block {
  display: flex;
  align-items: center;
  margin: 0 45px;
}

.picture {
  width: 490px;
  padding: 0;
}

.text {
  margin: 25px 0;
  width: 1150px;
}

.text:nth-child(2n) {
  padding-left: 50px;
}

.text:nth-child(2n + 1) {
  padding-right: 50px;
}

.text5 {
  width: 900px;
  margin: 50px;
}
