:root {
  --color1: #ffffff;
  --color2: #333087;
  --color3: #ee7601;
}

*,
.container {
  box-sizing: border-box;
}

.header {
  height: 115vh;
  background-color: var(--color2);
  background: url(img/stars.jpg);
  color: var(--color1);
}

.comparison {
  background-color: var(--color2);
  margin-top: 50px;
  height: 220vh;
}

.description {
  background-color: var(--color2);
  padding: 50px 10px;
}

.description img {
  padding: 0;
}

.line {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 345px;
  padding: 75px 40px;
  margin: 20px;
}

.titleName {
  width: 95%;
  height: 75%;
  margin: 20px;
  padding: 110px 60px;
}

.blanket {
  position: absolute;
}

.two {
  width: 60%;
  top: 270px;
  right: 45px;
}

.blanket3 {
  width: 1450px;
}

.one {
  width: 50%;
  z-index: 1;
  top: 400px;
  left: 84px;
}

.filler2,
.material2 {
  width: 30%;
  padding-bottom: 50px;
}

.icon {
  width: 30%;
}

.icon2 {
  width: 28%;
}

/* .descr {
  width: 100%;
} */

.withIcon {
  display: flex;
  align-items: center;
}

.cover,
.cotton {
  position: absolute;
}

.cover {
  top: 92rem;
  left: 69rem;
}

.cotton {
  top: 113rem;
  left: 69rem;
}

.block {
  display: flex;
  align-items: center;
  margin: 0 45px;
}

.picture {
  width: 490px;
  padding: 0;
}

.text {
  margin: 25px 0;
  width: 1150px;
}

.text:nth-child(2n) {
  padding-left: 50px;
}

.text:nth-child(2n + 1) {
  padding-right: 50px;
}

.text5 {
  display: block;
  width: 900px;
  margin: 50px auto;
  padding-top: 50px;
  margin-bottom: 0;
}

.text6 {
  width: 460px;
}

.blankets {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.blanketsItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 460px;
}

.item {
  width: 620px;
}

.item2 {
  width: 630px;
}

.size {
  padding: 15px 65px;
  padding-bottom: 0;
}

.size2 {
  padding: 25px 50px;
  width: 660px;
}

.size3 {
  display: block;
  margin: 0 auto;
  padding: 25px 50px;
}

.tableName {
  display: flex;
  padding: 0 65px;
}

.tableBlock {
  border-radius: 5px;
  background-color: var(--color3);
  margin-right: 15px;
  width: 760px;
  z-index: 1;
}

.cloud {
  position: absolute;
  top: 282rem;
  width: 1505px;
}

.sleep {
  display: block;
  margin: 65px auto;
  margin-bottom: 0;
}

@media screen and (max-width: 1160px) {
}
